extends layout

block content
  .jumbotron
    .container
      h1 How May I help you?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam risus, suscipit vel pulvinar quis, pellentesque quis ante. Maecenas vel risus lacinia lacus ullamcorper semper. Sed vitae tristique urna. 
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo
  .container
    .row
      .col-md-4
        h2 About Us
        p Sed consectetur tellus libero, eu vestibulum ipsum aliquet vel. Sed fringilla metus eu purus porttitor egestas. Integer eleifend blandit nunc. Maecenas efficitur nibh sit amet tortor varius lobortis. Etiam sed commodo urna, laoreet tincidunt orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p Sed consectetur tellus libero, eu vestibulum ipsum aliquet vel. Sed fringilla metus eu purus porttitor egestas. Integer eleifend blandit nunc. Maecenas efficitur nibh sit amet tortor varius lobortis. Etiam sed commodo urna, laoreet tincidunt orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get In Touch
        p Sed consectetur tellus libero, eu vestibulum ipsum aliquet vel. Sed fringilla metus eu purus porttitor egestas. Integer eleifend blandit nunc. Maecenas efficitur nibh sit amet tortor varius lobortis. Etiam sed commodo urna, laoreet tincidunt orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.btn.btn-default(href='#') View Details
          
    